* {
    box-sizing: border-box;

}

div{
    padding: 0;
    height: 100%;
}

ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
